@font-face {
  font-family: Roboto;
  src: url(../ext/font/roboto/Roboto-Light.ttf);
}


@font-face {
  font-family: Brandon;
  src: url(../ext/font/brandon_grotesque/brandon-grotesque-light.otf);
}

@font-face {
  font-family: Didot;
  src: url(../ext/font/linotype_didot/DidotLH-RomanOsF.otf);
}

body
{
  font-family: "Roboto";
}