#room_section
{
  background: white;
  margin-top: 75px;
}

.room_description_item
{
  height: 302px;
  margin-top: 22%;
  padding-top: 10%;
  background-color: white;
}

.room_description_title
{
  font-size: 20px;
  letter-spacing: 5px;
}

.room_description_text
{
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#room_img_div
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
}
#room_section .cd-fixed-bg {
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
 
#room_section .cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/rooms.jpg");
}

#room_section_button_div
{
  margin-bottom: 75px;
}

#room_section_button
{
  height: 35px;
  width: 125px;
  margin-top: 20px;
  background: white;
  border: solid 1px black;
  border-radius: 0px;
  color: black;
  text-align: center;
}

#room_section_button:hover
{
  border: solid 1px #292828;
  background-color: #292828;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

@media screen and (max-width:1000px) {
  #room_section
  {
    margin-top: 0px;
  }

  #room_section .cd-fixed-bg.cd-bg-1 {
    background-image: none;
  }
  
  #room_img_div
  {
    height: auto;
  }

  .room_description_item
  {
    margin-top: 0px;
  }
}