#service_section
{
  background: white;
  margin-top: 100px;
  font-size: 16px;
}
.service_description_icon
{
  margin-top: 15px;
  margin-bottom: 15px;
}
.service_description_title
{
  margin-top: 15px;
  margin-bottom: 15px;
}
.service_description_text
{
  margin-bottom: 25px;
}